{% extends "base_generic.html" %}

{% block content %}
{% if user.is_authenticated %}
    {% if viagem_list %}
        <h1 class="titulos">Lista de Viagens</h1>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Motorista</th>
                  <th scope="col">Destino</th>
                  <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody>
                {% for viagem in viagem_list %}
                <tr>
                  <th scope="row">{{ viagem.id }}</th>
                  <td><a href="{{ viagem.get_absolute_url }}">{{ viagem.motorista.nome }}</a></td>
                  <td><a href="{{ viagem.get_absolute_url }}">{{ viagem.destino }}</a></td>
                  <td><a href="{{ viagem.get_absolute_url }}">{{ viagem.data_viagem }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    {% else %}
        <p>Não existem viagens cadastradas</p>
    {% endif %}
{% endif %}
{% endblock %}